<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
   <html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">      
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <h1 style="text-align: center;background-color: black;color: white">GNARLY</h1>
        <p>MAKING BEATS FOR A BORING DUMB BITCH 🗣️🗣️🗣️</p>     
    </body>
</html>
